@if (getQuizId != "") {
<app-quiz-test [quizId]="getQuizId"></app-quiz-test>

} @else {
<app-navbar></app-navbar>
<app-header></app-header>
<div class="container p-4 pt-0">
    @if (quizzes.length > 0) {
        @for (quiz of quizzes; track quiz.quizId) {
    <div class="d-flex justify-content-between" style="border-bottom: 1px solid #ccc; margin-top: 20px;">
        <span>
            <h5>{{quiz.quizTitle | titlecase}}</h5>
            <p style="font-size: 14px;">
                <i class="bi bi-person"></i>
                {{quiz.creatorName | titlecase}},
                <i class="bi bi-calendar4-week"></i>
                {{quiz.quizDate | date: 'dd/MM/yyyy'}},
                <i class="bi bi-balloon"></i>
                {{getQuestionCount(quiz.quizId)}} Questions,
                <i class="bi bi-person-raised-hand"></i>
                {{getAttendeeCount(quiz.quizId)}} Attendees
            </p>
        </span>
        <span class="gap-3">
            <!-- <a href="/quiz?test={{quiz.quizId}}" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 10px;">
                <i class="bi bi-box-arrow-up-right"></i>
                Attend
            </a> -->
            <a (click)="joiningQuiz(quiz.quizId)" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 10px;">
                <i class="bi bi-box-arrow-up-right"></i>
                Attend
            </a>
            <a (click)="showScoreboard(quiz.quizId, quiz.quizTitle)" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 10px;" data-bs-toggle="modal"   data-bs-target="#exampleModal3">
                <i class="bi bi-boxes"></i>
                Scoreboard
              </a>
        </span>
    </div>
        }
    } @else {
    <div class="alert alert-warning mt-4">
        <p>No quiz found!</p>
    </div>
    }
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal3" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Scoreboard</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5><i class="bi bi-hash" style="color: #ff8482"></i> {{getQuizTitle | titlecase}}</h5>
            <table *ngIf="scoreboard.length > 0" class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Score</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let record of scoreboard">
                  <td>{{ record.userName }}</td>
                  <td>{{ record.score }} / {{ record.totalQuestions }}</td>
                </tr>
              </tbody>
            </table>
            
          <p *ngIf="scoreboard.length === 0" class="text-warning-emphasis pt-3"><i class="bi bi-exclamation-triangle"></i> No scoreboard data available.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

}
