<app-navbar></app-navbar>
<app-header></app-header>
<div class="container p-4 pt-0">
    <div class="container-main-div p-3">
        <form class="d-flex align-items-end justify-content-center">
            <span>
                <div class="input-group" style="margin-bottom: 20px;">
                    <span class="input-group-text">Creator Name & Email</span>
                    <input type="text" aria-label="First name" class="form-control" value="{{loggedinUserName}}" disabled style="font-weight: bolder; font-style: italic; color: #00000080;">
                    <input type="text" aria-label="Last name" class="form-control" value="{{loggedinUserEmail}}" disabled style="font-weight: bolder; font-style: italic; color: #00000080;">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" value="{{date}}" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Quiz Title</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                </div>
                <input type="hidden" value="{{loggedinUserId}}">
            </span>
            @if (content != "404") {
                <button type="submit" class="btn btn-primary fw-bold" style="background-color: #5b62b3; border: none; margin-left: 20px; margin-bottom: 17px;"><i class="bi bi-plus-square"></i> Update Quiz Title</button>   
            } @else {
                <button type="submit" class="btn btn-primary fw-bold" style="background-color: #5b62b3; border: none; margin-left: 20px; margin-bottom: 17px;"><i class="bi bi-plus-square"></i> Create Quiz</button>  
            }         
        </form>
    </div>
</div>

@if (content != "404") {
<app-quiz-form [quizId]="content"></app-quiz-form>
}
