<app-navbar></app-navbar>
<app-header></app-header>
<div class="container p-4 pt-0">
    <div class="container-main-div p-3">
        <form class="d-flex align-items-end justify-content-center">
            <span style="max-width: 700px; width: 100%;">
                <div *ngIf="message" [class.error]="isError" [class.success]="!isError" [innerHtml]="message"></div>

                <div class="input-group" style="margin-bottom: 20px;">
                    <span class="input-group-text">User</span>
                    <input type="text" aria-label="First name" class="form-control" value="{{loggedinUserName}}" style="font-style: italic; color: #00000080;" disabled>
                    <input type="text" aria-label="Last name" class="form-control" value="{{loggedinUserEmail}}" style="font-style: italic; color: #00000080;" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Date</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="quizdate" name="quizdate" [(ngModel)]="quizDate" style="font-style: italic; color: #00000080;" disabled>
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Quiz Title</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="quiztitle" name="quiztitle" [(ngModel)]="quizTitle">
                </div>
            </span>
            @if (getQuizId != "") {
                <span>
                    <button (click)="onUpdate()" type="button" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 20px; margin-bottom: 17px;"><i class="bi bi-pencil"></i> Update Quiz Title</button>
                    <button (click)="openDeleteModal()" class="btn btn-danger" style="border: none; margin-left: 10px; margin-bottom: 17px;"><i class="bi bi-trash"></i></button>
                </span>                
            } @else {
                <button (click)="onSubmit()" type="button" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 20px; margin-bottom: 17px;"><i class="bi bi-plus-square"></i> Create Quiz</button>  
            }         
        </form>
    </div>
</div>

@if (getQuizId != "") {
<app-quiz-form [quizId]="getQuizId"></app-quiz-form>
}


<!-- Delete Confirmation Modal -->
<div class="modal fade" id="deleteConfirmationModal" tabindex="-1" aria-labelledby="deleteConfirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteConfirmationModalLabel">Deletion Options</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ol>
                <li><b>Delete Quiz + Soreboard</b>, will destroy quiz questions along with it's scoreboard data.</li>
                <li><b>Clear Scoreboard</b>, will destroy only scoreboard data. Quiz questions will remain the same.</li>
            </ol>          
        </div>
        <div class="modal-footer">
          <!-- <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button> -->
          <button type="button" class="btn btn-warning" (click)="deleteScoreboard(quizId)">Clear Scoreboard</button>
          <button type="button" class="btn btn-danger" (click)="deleteRecord(quizId)">Delete Quiz + Scoreboard</button>
        </div>
      </div>
    </div>
</div>
