<div class="modal fade" id="edit-profile-modal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <form (submit)="onUpdate(); $event.preventDefault()">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel2">Edit Profile</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div *ngIf="message" [class.error]="isError" [class.success]="!isError" [innerHtml]="message"></div>
                <div class="mb-3">
                    <label for="username" class="form-label">Name</label>
                    <input type="text" class="form-control" id="username" name="username" [value]="userName" [(ngModel)]="userName">
                </div>
                <div class="mb-3">
                    <label for="useremail" class="form-label">Email</label>
                    <input type="email" class="form-control" id="useremail" name="useremail" [(ngModel)]="userEmail" disabled readonly>
                </div>
                <input type="hidden" id="userId" name="userId" [(ngModel)]="userId">
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary" style="background-color: #ff6f6c; border: none;">
                    <i class="bi bi-floppy"></i>
                    Update
                </button>
            </div>
        </form>
      </div>
    </div>
</div>