<app-navbar></app-navbar>
<app-header></app-header>
<div class="container p-4 pt-0">
    <div class="container-main-div p-3">
        <div class="d-flex align-items-center" style="border-bottom: 2px solid #ff8482;">
            <div>
                <i class="bi bi-person" style="font-size: 76px;"></i>                
            </div>
            <div style="margin-top: 20px; margin-left: 20px;">
                <h3>
                    {{loggedinUserName | titlecase}} 
                    <i class="bi bi-pencil-square" style="color: #ff8482;cursor: pointer;" data-bs-toggle="modal" data-bs-target="#edit-profile-modal"></i>
                </h3>
                <p>{{loggedinUserEmail | lowercase}}</p>
            </div>
        </div>
        <div class="mt-4">
            <h4 style="color: #ff8482;">Your Quizzes</h4>
            @if (myQuizzes.length > 0) {
                @for (quiz of myQuizzes; track quiz.quizId) {
                    <div class="d-flex justify-content-between" style="border-bottom: 1px solid #ccc; margin-top: 20px;">
                <span>
                    <h5>{{quiz.quizTitle}}</h5>
                    <p style="font-size: 14px;">
                        <i class="bi bi-person"></i>
                        {{quiz.creatorName}},
                        <i class="bi bi-calendar4-week"></i>
                        {{quiz.quizDate | date: 'dd/MM/yyyy'}},
                        <i class="bi bi-balloon"></i>
                        {{getQuestionCount(quiz.quizId)}} Questions,
                        <i class="bi bi-person-raised-hand"></i>
                        {{getAttendeeCount(quiz.quizId)}} Attendees
                    </p>
                </span>
                <span class="gap-3">
                    <a href="/create-quiz?quiz={{quiz.quizId}}" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 10px;">
                        <i class="bi bi-pencil"></i>
                        Edit
                    </a>
                    <a href="/quiz?test={{quiz.quizId}}" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 10px;">
                        <i class="bi bi-box-arrow-up-right"></i>
                        Attend
                    </a>
                    <a href="/quiz" class="btn btn-primary" style="background-color: #5b62b3; border: none; margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#exampleModal3">
                        <i class="bi bi-boxes"></i>
                        Scoreboard
                    </a>
                </span>
                    </div>
                }
            } @else {
            <div class="alert alert-warning mt-4">
                <p>No record found!</p>
            </div>
            }
        </div>
    </div>
</div>

<app-edit-profile [userName]="loggedinUserName" [userEmail]="loggedinUserEmail" [userId]="loggedinUserId"></app-edit-profile>
